In [27]:
import pandas as pd

deepctr = pd.read_csv("b_deepctr.csv")
lgb = pd.read_csv("b_lgb.csv")
res = pd.read_csv("b_res.csv")

In [28]:
data = deepctr.merge(lgb, on=['userid', 'feedid'], how='left')
data.head()

,userid,feedid,read_comment_x,like_x,click_avatar_x,forward_x,read_comment_y,like_y,click_avatar_y,forward_y
0,116490.0,18545.0,0.016497,0.033297,0.007445,0.006151,0.005253,0.004040,0.002713,0.001041
1,19265.0,53010.0,0.009574,0.075893,0.009273,0.009068,0.002428,0.019188,0.001839,0.002033
2,194374.0,9003.0,0.005455,0.017499,0.004260,0.003154,0.000050,0.002923,0.001323,0.000999
3,19414.0,75730.0,0.003322,0.012692,0.041816,0.004051,0.001936,0.004023,0.006123,0.001038
4,6434.0,17863.0,0.013402,0.226137,0.035111,0.017273,0.005639,0.043681,0.007791,0.003924

In [29]:
data['read_comment'] = (0.7*data['read_comment_x']+0.3*data['read_comment_y'])
data['like'] = (0.3*data['like_x']+0.7*data['like_y'])
data['click_avatar'] = (0.6*data['click_avatar_x']+0.4*data['click_avatar_y'])
data['forward'] = (0.7*data['forward_x'] + 0.3*data['forward_y'])

In [30]:
cols = ['userid', 'feedid', 'read_comment', 'like', 'click_avatar', 'forward']
result = data[cols].merge(res, on=['userid', 'feedid'], how='left')

In [31]:
data[cols].head()

     userid   feedid  read_comment      like  click_avatar   forward
0  116490.0  18545.0      0.013124  0.012817      0.005552  0.004618
1   19265.0  53010.0      0.007430  0.036200      0.006299  0.006957
2  194374.0   9003.0      0.003833  0.007296      0.003085  0.002508
3   19414.0  75730.0      0.002906  0.006623      0.027539  0.003147
4    6434.0  17863.0      0.011073  0.098418      0.024183  0.013268

In [32]:
data = data[cols].merge(res, on=['userid', 'feedid'], how='left')

In [33]:
data.head()

,userid,feedid,read_comment_x,like_x,click_avatar_x,forward_x,read_comment_y,like_y,click_avatar_y,forward_y
0,116490.0,18545.0,0.013124,0.012817,0.005552,0.004618,0.009407,0.014236,0.007862,0.000286
1,19265.0,53010.0,0.007430,0.036200,0.006299,0.006957,0.002136,0.055866,0.002407,0.000584
2,194374.0,9003.0,0.003833,0.007296,0.003085,0.002508,0.000517,0.006872,0.000465,0.000072
3,19414.0,75730.0,0.002906,0.006623,0.027539,0.003147,0.000637,0.006708,0.035073,0.000247
4,6434.0,17863.0,0.011073,0.098418,0.024183,0.013268,0.009339,0.213789,0.015130,0.005212

In [34]:
data['read_comment'] = (0.3*data['read_comment_x']+0.7*data['read_comment_y'])
data['like'] = (0.7*data['like_x']+0.3*data['like_y'])
data['click_avatar'] = (0.7*data['click_avatar_x']+0.3*data['click_avatar_y'])
data['forward'] = (0.7*data['forward_x'] + 0.3*data['forward_y'])

In [35]:
data[cols].to_csv("res.csv")

In [37]:
data1 = pd.read_csv("b_res.csv")
data2 = pd.read_csv("res.csv")

In [40]:
data = data1.merge(data2, on=['userid', 'feedid'], how='left')
data['read_comment'] = (0.2*data['read_comment_x']+0.8*data['read_comment_y'])
data['like'] = (0.1*data['like_x']+0.9*data['like_y'])
data['click_avatar'] = (0.2*data['click_avatar_x']+0.8*data['click_avatar_y'])
data['forward'] = (0.6*data['forward_x'] + 0.4*data['forward_y'])

In [42]:
data.head()

,userid,feedid,read_comment_x,like_x,click_avatar_x,forward_x,read_comment_y,like_y,click_avatar_y,forward_y,read_comment,like,click_avatar,forward
0,116490,18545,0.009407,0.014236,0.007862,0.000286,0.010522,0.013243,0.006245,0.003319,0.010299,0.013342,0.006569,0.001499
1,19265,53010,0.002136,0.055866,0.002407,0.000584,0.003725,0.042100,0.005132,0.005045,0.003407,0.043476,0.004587,0.002369
2,194374,9003,0.000517,0.006872,0.000465,0.000072,0.001512,0.007169,0.002299,0.001777,0.001313,0.007139,0.001932,0.000754
3,19414,75730,0.000637,0.006708,0.035073,0.000247,0.001318,0.006649,0.029799,0.002277,0.001182,0.006655,0.030854,0.001059
4,6434,17863,0.009339,0.213789,0.015130,0.005212,0.009859,0.133029,0.021467,0.010851,0.009755,0.141105,0.020200,0.007468

In [43]:
data[cols].to_csv("res.csv", index=False)

In [44]:
data[cols].head()

   userid  feedid  read_comment      like  click_avatar   forward
0  116490   18545      0.010299  0.013342      0.006569  0.001499
1   19265   53010      0.003407  0.043476      0.004587  0.002369
2  194374    9003      0.001313  0.007139      0.001932  0.000754
3   19414   75730      0.001182  0.006655      0.030854  0.001059
4    6434   17863      0.009755  0.141105      0.020200  0.007468

In [18]:
df1 = pd.read_csv("sub_1.csv")
df2 = pd.read_csv("sub_2.csv")
df3 = pd.read_csv("sub_3.csv")
df4 = pd.read_csv("sub_4.csv")
df5 = pd.read_csv("sub_5.csv")

In [23]:
df = df1[['userid', 'feedid']]
df.head()

   userid  feedid
0   14298   67227
1   68356   91864
2   49925  104657
3   60529   23738
4  131482   69038

In [24]:
df['read_comment'] = (df1['read_comment']+df2['read_comment']+df3['read_comment']+df4['read_comment']+df5['read_comment'])/5
df['like'] = (df1['like']+df2['like']+df3['like']+df4['like']+df5['like'])/5
df['click_avatar'] = (df1['click_avatar']+df2['click_avatar']+df3['click_avatar']+df4['click_avatar']+df5['click_avatar'])/5
df['forward'] = (df1['forward']+df2['forward']+df3['forward']+df4['forward']+df5['forward'])/5

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [26]:
df.to_csv("res.csv")